<section class="banner">
    <div class="container">
        <div class="row">
            <img src="assets/images/banner-top-text.png" alt="" class="img-responsive">
            
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">

            <div class="home-content">
                <div class="col-md-7">

                    <h3>WELCOME TO Universal Medical Record<sup>&reg;</sup></h3>

                    <p>UMR Holdings International and its affiliated companies’ technologies and services creates a medical record that is patient centric across all platforms as Universal Medical Record® with various other components called UMI™ (Universal Medical Informatics™).</p>

                    <p>Universal Medical Record® is committed to modernizing the operation of healthcare improving the quality of care by re-inventing the core work process, using information technology to automate critical responses to enhance patient tracking and free up providers to spend more quality time on patient care and less time on menial tasks.</p>

                    <p>UMR is also unique in that creates interoperability with all Electronic Medical Records (EMR) systems, and Healthcare Information Exchanges (HIEs), instead of supplanting these systems. The benefit of the product known as UMI™ allows providers who are treating patients to have direct access for all relevant medical records globally, regardless of where the patient received treatments for complete documentation while reducing fraud and abuse.</p>


                </div>
                <div class="col-md-5">
                    <img src="assets/images/hcontent-img.png" alt="" class="img-responsive">
                </div>
            </div>

        </div>
    </div>
</section>
