<section class="subscribe">
    <div class="container">
        <div class="row sb">

            <div class="subscription">
                <div class="col-md-7">
                    <h3>Subscribe Our Newsletter to Get Notified</h3>
                    <form action="">
                        <div class="input-group sb-input-group">
                            <input type="email" class="form-control sb-input" placeholder="Enter Your Email Address">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-subscribe" type="button"> <i class="fa fa-send"></i> Subscribe</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
                <div class="col-md-5 text-right">
                    <p>For Any Query Contact Us Today<p>
                    <p><i class="fa fa-phone"></i> (914) 737-7499</p>
                </div>
            </div>

        </div>
    </div>
</section>
