.row {
    margin:0;
}
.trans {
  background: transparent;
  border: none
}
.active_class {
  color: #a0a2a4;
}
label {
  pointer-events: auto;
}
.jobs-full-content {
  /*background-color: #303030;*/
}

.menu-customized {
  padding: 0;
  background-color: #303030 !important;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  /*position: fixed;
  z-index: 100;
  display: block;*/
}

.filter-customized {
  background-color: #252728;
  font-weight: 500;
  font-size: 1.5em;
  color: white;
  padding: 15px 0 8px 30px;
}

.searchbar-customized {
  background-color: #303030;
  color: white;
  padding: 15px 0 0px 30px;
  font-weight: 700;
  font-size: 0.9em;
}

.searchbarinput {
  background-color: #252728;
  border-radius: 25px;
  width: 90%;
  padding-left: 20px;
  border: 3px solid #252728;
  color: white;
}

.menu-content-customized {
  padding: 20px 20px 0 20px;
  background-color: #303030;
  margin: 0;
  border-top: 0;
}

.list-group-item {
  background-color: #303030 !important;
  color: lightgray !important;
  font-size: 0.9em !important;
  padding-top: 0 !important;
  border:hidden;
}

:host >>> .badge {
  background-color: #303030 !important;
}

.form-check-input {
  background-color: #404040 !important;
}

.logoimg {
  background-color: #303030;
  font-weight: 500;
  font-size: 1.5em;
  color: white;
  padding: 15px 0 25px 30px;
}



.main-content {
  padding: 0;
}

/*.page-heading {
  background-color: #5198DE;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  padding-top: 10px;
  padding: 20px;
}*/

.page-body {
  padding: 20px;
  background-color: #F0F0F0;
}

.card {
  margin-bottom: 20px;
  padding: 1em;
  background-color: white;
}

.card-title {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #5198DE;
  text-decoration: none;
}

.card-title-main {
}

.card-title-sub {
  color: #939597;
  font-weight: 500;
  font-size: 0.9em;
}

.card-title-sub-arrow {
  color: dodgerblue;
  font-weight: bolder;
  float: right;
}



.card-category {
  display: block;
  font-size: 0.9em;
  color: #2E2F30;
  font-weight: 700;
}

.card-body {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 13px;
  order: 6;
  width: 100%;
  color: #606264;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.openjobs {
  color: #cecece;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 3em;
}
