<footer>
    <div class="container">
        <div class="row">

            <div class="footer">
                <div class="col-md-6">&copy; 2011-{{toCopyright}} Universal Medical Record<sup>(TM)</sup>. All Rights Reserved.</div>
                <div class="col-md-6 text-right">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/products-services">Products and Services</a></li>
                        <li><a routerLink="/client-access">Client Access</a></li>
                        <li><a href="https://UMR.aviontego.com/portals/main.aspx?App=3&CompanyId=UMR">Employee Portal</a></li>
                        <li><a routerLink="/jobs-opening">Job Openings</a></li>
                        <li><a href="https://UMR.aviontego.com/portals/main.aspx?App=2&CompanyId=UMR">Job Board</a></li>
                        <li><a href="https://UMR.aviontego.com/portals/main.aspx?App=1&CompanyId=UMR">Applicant Portal</a></li>
                        <li><a href="https://UMR.aviontego.com/portals/main.aspx?App=3&CompanyId=UMR">Customer Portal</a></li>
                        <li><a routerLink="/contact-portal">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>