/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .navbar-light .navbar-toggler {
        border: 0px !important;
    }
    .topbar-area .d-flex{
        display: block !important;
    }
    .topbar-area .d-flex .list-inline-item{
        margin-bottom: 10px;
    }
    .content-area .list-inline-item {
        margin-bottom: 10px;
    }
}



/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .navbar-light .navbar-toggler {
        border: 0px !important;
    }
}



/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .navbar-light .navbar-toggler {
        border: 0px !important;
    }
    .content-area {
        margin-top: 67px;
    }
 }



 /* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}
