<section class="content">
    <div class="container">
        <div class="row">

            <div class="home-content about-content contact-content">
                <!--<div class="col-md-9">

                    <h3>CONTACT US</h3>

                    <p>Email us with any questions or inquiries or use our contact data</p>

                    <form action="" class="contact-form">
                        <div class="col-md-4">
                            <input type="text" class="form-control contact-input" placeholder="Name*">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control contact-input" placeholder="Email*">
                        </div>
                        <div class="col-md-4">
                            <input type="tel" class="form-control contact-input" placeholder="Phone*">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control contact-input" rows="5" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="btn btn-default btn-contact">Send</a>
                            <a href="" class="btn btn-default btn-contact">Clear</a>
                        </div>
                    </form>


                </div>-->

                <!--<div class="col-md-3">
                    <div class="address">
                        <h3>Address: </h3>
                        <p><i class="fa fa-home"></i> Universal Medical Records</p>
                        <p>22 THE CROSS ROAD</p>
                        <p>CORTLANDT MANOR, NEW YORK 10567</p>
                    </div>
                    <div class="phone">
                        <h3>Phone & Fax:</h3>
                        <p><i class="fa fa-phone"></i> (914) 737-7499</p>
                        <p><i class="fa fa-briefcase"></i> (212) 504-7956</p>
                    </div>
                    <div class="email">
                        <h3>Email:</h3>
                        <p><i class="fa fa-envelope-o"></i> contact@universalmedicalrecord.com</p>
                    </div>
                </div>-->

              <div class="col-md-4">
                <div class="address">
                  <h3>Address: </h3>
                  <p><i class="fa fa-home"></i> Universal Medical Records<sup>&reg;</sup></p>
                  <p>22 THE CROSS ROAD</p>
                  <p>CORTLANDT MANOR, NEW YORK 10567</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="phone">
                  <h3>Phone & Fax:</h3>
                  <p><i class="fa fa-phone"></i> (914) 737-7499</p>
                  <p><i class="fa fa-briefcase"></i> (914) 737-2120</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="email">
                  <h3>Email:</h3>
                  <p><i class="fa fa-envelope-o"></i> contact@universalmedicalrecord.com</p>
                </div>
              </div>

            </div>

        </div>



    </div>
</section>

<!--<section class="map">
    <div class="container">
        <div class="row">
            <location></location>
        </div>
    </div>
</section>-->
