<section class="product-content">
    <div class="container">
        <div class="row">
            <div class="service">
                <div class="col-md-12">
                    <h3>PRODUCTS & SERVICES</h3>
                </div>
            </div>
            <div class="presentation">
              <div class="col-md-6">
                  <ul>
                    <li><a href={{umiDomain}} target="_blank"><h4>Universal Record Informatics</h4></a></li>
                    <li><a href={{umrReqDomain}} target="_blank"><h4>UMR Recruitment Services</h4></a></li>
                    <li><a href="http://ahimms90.com/" target="_blank"><h4>AHIMMS90</h4></a></li>
                  </ul>
              </div>
              <!--<div class="col-md-6">
                  <h4>Presentation</h4>
                  <ul>
                      <li><a href="./assets/slides/UMRHealthcareRecordsIntegratedSolution.htm" target="_blank">UMR Healthcare Records Integrated Solution</a></li>
                      <li><a href="assets/pdf/donald.pdf" target="_blank">Donald Berwick, M.D. UMR Letter Accountable Care Organization and Medical Home Concept</a></li>
                      <li><a href="assets/pdf/Social-Workers-View-Point.pdf" target="_blank">Social Worker's View Point</a></li>
                      <li><a href="assets/pdf/Nurses-View-Point.pdf" target="_blank">Nurse's View Point</a></li>
                      <li><a href="assets/doc/Accountable-Care-Organization-Solution.docx" target="_blank">Accountable Care Organization Solution</a></li>
                      <li><a href="assets/ppt/UMR-Presentation-2013-1.ppt" target="_blank">UMR Healthcare and ACO Integrated Solution</a></li>
                      <li><a href="assets/ppt/SlidePresentation2015.ppt" target="_blank">Slide Presentation 2015</a></li>
                      <li><a href="assets/pdf/Stakeholders-Evaluation.pdf" target="_blank">Stakeholders Evaluation</a></li>
                      <li><a href="assets/slides/UMRPresentation2.htm" target="_blank">Slide Presentation 2009</a></li>
                      <li><a href="assets/slides/UMRPresentation.htm" target="_blank">Slide Presentation 2003</a></li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <h4>Video Presentation</h4>
                  <iframe src="https://www.youtube.com/embed/WhRr9al2oek" width="100%" height="350" frameborder="0" allowfullscreen></iframe>
              </div>-->
            </div>

        </div>
    </div>
</section>
