@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body, html{
    color: #5e5e5e;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    margin: 0; 
}
h1,h2,h3,h4,h5,h6{
    color:#232323;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
}
p{  
    color: #5e5e5e;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
}
ul{
    margin-bottom: 0;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #39C6F4;
    text-decoration: none;
    transition: .5s;
}



/* Header Area Stylesheet */
.navbar-brand{
    font-size: 14px;
    font-weight: 700;
}
.topbar-area{
    background:#ffffff;
    padding: 10px 0px;
}
.nav-link{
    text-transform: uppercase;
    padding: 20px !important;
    transition: 1s all;
}
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active{
    color: #39C6F4;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus{
    color: #39C6F4;
    transition: 1s all;
}
.logo-area{
    padding: 20px 0;
    background: #ffffff;
}




/* Content Area Stylesheet */
.content-area{
    margin-top: 149px;
}
.btn-list{
    padding: 20px 0 10px 0;
}
.btn-umr{
    color: #ffffff;
    background: #39C6F4;
    font-weight: 700;
    padding: 10px 20px;
    transition: 1s all;
}
.btn-umr:hover{
    color: #ffffff;
    background: #3BAFDA;
    transition: 1s all;
}
sup{
    font-size: 9px;
    font-weight: 400;
}



/* Footer Area Stylesheet */
.footer-area{
    padding: 10px 0;
}


.home-content .col-md-7 h3, .home-content .col-md-8 h3, .team .col-md-12 h3, .service h3 {
    margin-top: 0px;
    margin-bottom: 38px;
    font-size: 22px;
    color: #434a54;
    text-transform: uppercase
}

.home-content .col-md-7 p {
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
    color: #656d78
}

.about-content, .contact-content {
    margin-top: 40px
}

.address, .phone, .email {
    margin-bottom: 20px
}

    .address h3, .phone h3, .email h3 {
        font-size: 22px;
        line-height: 24px;
        color: #434a54;
        font-weight: 300;
        margin-bottom: 10px
    }

    .address p, .phone p, .email p {
        font-size: 14px;
        line-height: 18px;
        color: #434a54;
        font-weight: 300;
        margin: 0px
    }


.sb {
    background: #39c6f4;
    padding: 20px 0px
}

.subscription h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
}

.sb-input {
    height: 43px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: white !important;

}

    .sb-input:focus {
        background: transparent;
        border-color: #F5F7FA;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white;
    }

.subscription .col-md-5 {
    margin-top: 0px
}

    .subscription .col-md-5 p {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
    }

        .subscription .col-md-5 p i {
            font-size: 45px;
            margin-right: 15px;
            position: relative;
            top: 10px;
        }
.btn-subscribe, .btn-download {
    color: #434a54;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    height: 43px;
    font-weight: 300px;
    font-size: 16px;
    transition: .5s all;
}
    .btn-subscribe:hover, .btn-download:hover {
        color: #39c6f4;
        background-color: #fff;
        border: none;
    }

input[type="email"].sb-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}

input[type="email"].sb-input::-moz-placeholder { /* Firefox 19+ */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}

input[type="email"].sb-input:-ms-input-placeholder { /* IE 10+ */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}

input[type="email"].sb-input:-moz-placeholder { /* Firefox 18- */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}

.aboutus-address-para-lineheight {
    display: block; margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.bro-download {
    background: #00bff3;
    padding: 15px;
    margin-top: 20px;
    color: #fff !important;
    height: max-content;
}


/* =========================================
   6. Section Screenshots                 
========================================= */
.owl-carousel {
    margin-bottom: 0px;
}

    .owl-carousel .item {
        margin: 0 10px;
    }

.owl-theme .owl-controls {
    margin-top: 25px;
    text-align: right;
    position: relative;
    bottom: 400px
}


    /* Styling Next and Prev buttons */

    .owl-theme .owl-controls .owl-buttons div {
        color: #FFF;
        display: inline-block;
        zoom: 1;
        *display: inline; /*IE7 life-saver */
        margin: 5px 10px 5px 5px;
        padding: 5px 10px;
        font-size: 12px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #33b5e5;
        filter: Alpha(Opacity=80); /*IE7 fix*/
        opacity: 0.5;
    }
    /* Clickable class fix problem with hover on touch devices */
    /* Use it for non-touch hover action */
    .owl-theme .owl-controls.clickable .owl-buttons div:hover {
        filter: Alpha(Opacity=100); /*IE7 fix*/
        opacity: 1;
        text-decoration: none;
    }

    /* Styling Pagination*/

    .owl-theme .owl-controls .owl-page {
        display: inline-block;
        zoom: 1;
        *display: inline; /*IE7 life-saver */
    }

        .owl-theme .owl-controls .owl-page span {
            display: block;
            width: 12px;
            height: 12px;
            margin: 5px 7px;
            filter: Alpha(Opacity=50); /*IE7 fix*/
            opacity: 0.5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #869791;
        }

        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span {
            filter: Alpha(Opacity=100); /*IE7 fix*/
            opacity: 1;
        }

        /* If PaginationNumbers is true */

        .owl-theme .owl-controls .owl-page span.owl-numbers {
            height: auto;
            width: auto;
            color: #FFF;
            padding: 2px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}


/* =========================================
   9. Section Team                 
============================================ */
.our-team {
    margin-top: 20px
}

.team {
    text-align: center;
}

.info {
    cursor: pointer;
}

.team .app-dev h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 5px 0px;
    color: #33b5e5;
}

.team .app-dev .title {
    border: 1px solid #efefef;
    margin: 0px 15px;
}

.team .member {
    width: 263px;
    height: 263px;
    position: relative;
    overflow: hidden;
    display: table;
    margin: auto;
}

    .team .member .details {
        width: 263px;
        height: 263px;
        position: absolute;
        background: rgba(0, 153, 255, 0.9);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        opacity: 0;
    }

    .team .member img {
        position: absolute;
        width: 263px;
        height: 263px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        left: 0;
    }

    .team .member .details p {
        color: #fff;
        padding: 15px 10px 10px 10px;
        position: absolute;
        top: -50px;
        left: 70px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .team .member .details .icon {
        position: relative;
        top: 290px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

        .team .member .details .icon a {
            color: #fff;
            font-size: 20px;
        }

        .team .member .details .icon ul {
            display: table;
            margin: auto;
            list-style: none;
        }

            .team .member .details .icon ul li {
                float: left;
                margin-right: 30px;
                display: block;
            }

.team .info:hover .details {
    opacity: 1;
}

    .team .info:hover .details p {
        transform: translateY(100px);
        -ms-transform: translateY(100px);
        -webkit-transform: translateY(100px);
    }

.team .info:hover .icon {
    transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
}

.team .title h5 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight:normal;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }