<section class="home-content content job-list-content">
    <div class="container">
        <div class="row">            
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>JOB LIST</h3>
                    </div>
                    <div class="panel-body panel-body-padding">  
                        <p-dataTable [value]="jobContents" [responsive]="true" [loading]="loading" [rows]="rows" [paginator]="true" 
                                     [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" [pageLinks]="pageLinkSize" 
                                     selectionMode="single" [(selection)]="selectedJobContent" dataKey="JobContentId">
                            <p-column field="JobContentId" header="Job Published" [hidden]="true"></p-column>
                            <p-column field="JobTitle" header="Job Published" [sortable]="true"></p-column>                            
                            <p-column header="Action">
                                <ng-template let-data="rowData" pTemplate>
                                    <span>                                        
                                        <a (click)="editButtonClick(data)"><i class="fa fa-edit"></i></a>
                                        <a (click)="deleteButtonClick(data)"><i class="fa fa-trash"></i></a>
                                    </span>
                                </ng-template>
                            </p-column>                            
                        </p-dataTable>
                    </div>                    
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <form [formGroup]="jobContentFormGroup" (ngSubmit)="onSubmit()" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="pull-left">ADD JOB</h3>
                            <p class="pull-right">{{jobContent.JobTitle}}</p>
                        </div>
                        <div *ngIf="formErrors.description" class="alert alert-danger">
                            {{ formErrors.description }}
                        </div>
                        <p-editor [style]="{'height':'320px'}" pTooltip="Last Name" tooltipPosition="top" tooltipEvent="focus" formControlName="description" required></p-editor>                        
                    </div>                    
                    <button type="submit" *ngIf="!isUpdated" [disabled]="jobContentFormGroup.invalid" class="btn btn-default btn-job">Submit</button>
                    <button type="submit" *ngIf="isUpdated" [disabled]="jobContentFormGroup.invalid" class="btn btn-default btn-job">Update</button>
                    <button type="button" *ngIf="isUpdated" class="btn btn-default btn-job" (click)="resetForm($event)">Cancel</button>
                </form>
            </div>            
        </div>
    </div>
</section>
<p-growl [value]="jobGrowlMessage"></p-growl>
<p-confirmDialog width="425"></p-confirmDialog>
