<section class="content">
    <div class="container">
        <div class="row">

            <div class="home-content about-content">
                <div class="col-md-8">

                    <h3>ABOUT US</h3>

                    <p>Patents Pending.  Printed in the United States of America.  No part of this publication may be reproduced in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the prior written permission of the company.</p>

                    <p>Ver 121009.</p>


                </div>
                <div class="col-md-4 bro-download">
                    <p>If you want to know more about us then download the pdf file from the download button.</p>                    
                    <a href="assets/pdf/about.pdf"  class="btn btn-default btn-download">Download</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-10">
                <h3 class="our-team">OUR Team</h3>
            </div>
        </div>


    </div>
</section>

<section id="team">
    <div class="team section-padding">
        <div class="container">

            <div class="row">

                <div class="app-dev owl-carousel owl-theme">

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/member-1.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Steven Charles Cohn</h4>
                            <h5>CEO</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (1) -->

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/member-2.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Allan Carl Cohn</h4>
                            <h5>CFO</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (2) -->

                    <div class="info">
                        <div class="member">
                            <img src="assets/images/member-3.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Wayne O. Wells</h4>
                            <h5>Chief Medical Officer</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (3) -->

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/member-4.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Reza Bin Raqiub</h4>
                            <h5>Chief Technology Officer</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (4) -->

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/03.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Peter Gordon</h4>
                            <h5>Chief Business Officer</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (5) -->

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/02.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Frank J. Maddalena</h4>
                            <h5>Business Development</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (6) -->

                    <div class="info">
                        <div class="member item">
                            <img src="assets/images/02.jpg" alt="">
                            <div class="details">
                                <p class="text-center"><a href="" class="btn btn btn-default">View Resume</a> </p>
                                <div class="social icon">
                                    <ul>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> <!-- end .icon -->
                            </div> <!-- end .details -->
                        </div> <!-- end .member -->
                        <div class="title">
                            <h4>Sheena H. Sloan</h4>
                            <h5>Business Analyst</h5>
                        </div> <!-- end .title -->
                    </div> <!-- end .info (7) -->

                </div> <!-- end .app-dev -->

            </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
    </div> <!-- end .team -->
</section>
<!-- ====== Team Section ====== -->
