.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255, 255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5 > div {
    position: relative
}

.x .c1-6 > div {
    overflow: hidden
}

.x .c1-7 > div {
    margin-top: auto
}

.x .c1-8 > div {
    margin-right: auto
}

.x .c1-9 > div {
    margin-bottom: auto
}

.x .c1-a > div {
    margin-left: auto
}

.x .c1-b {
    font-family: Lato, arial, sans-serif
}

.x .c1-c {
    font-size: 16px
}

.x .c1-f {
    z-index: 1001
}

.x .c1-g {
    padding-top: 40px
}

.x .c1-h {
    padding-bottom: 40px
}

.x .c1-i {
    padding: 0px !important
}

.x .c1-j:before {
    content: ""
}

.x .c1-k:before {
    display: table
}

.x .c1-l:before {
    clear: both
}

.x .c1-m:after {
    content: ""
}

.x .c1-n:after {
    display: table
}

.x .c1-o:after {
    clear: both
}

.x .c1-r {
    position: relative
}

.x .c1-s {
    display: none
}

.x .c1-u {
    text-align: center
}

.x .c1-v {
    padding-top: 16px
}

.x .c1-w {
    padding-bottom: 16px
}

.x .c1-x {
    margin-left: auto
}

.x .c1-y {
    margin-right: auto
}

.x .c1-z {
    padding-left: 24px
}

.x .c1-10 {
    padding-right: 24px
}

.x .c1-11 {
    max-width: 100%
}

.x .c1-12 {
    display: block
}

.x .c1-1a {
    word-wrap: break-word
}

.x .c1-1b {
    overflow-wrap: break-word
}

.x .c1-1c {
    line-height: 1.5
}

.x .c1-1d {
    color: rgb(94, 94, 94)
}

.x .c1-1e {
    font-weight: 400
}

.x .c1-1f {
    margin-top: 0
}

.x .c1-1g {
    margin-bottom: 0
}

.x .c1-1i {
    width: 1px
}

.x .c1-1j {
    border-top: 0px
}

.x .c1-1k {
    border-right: 0px
}

.x .c1-1l {
    border-bottom: 0px
}

.x .c1-1m {
    border-left: 0px
}

.x .c1-1n {
    background-color: rgb(27, 27, 27)
}

.x .c1-1o {
    height: 1em
}

.x .c1-1p {
    margin-left: 16px
}

.x .c1-1q {
    opacity: 0.4
}

.x .c1-1r {
    margin-right: 16px
}

.x .c1-1s {
    text-transform: inherit
}

.x .c1-1t {
    font-size: inherit !important
}

.x .c1-1u {
    color: inherit
}

.x .c1-1v {
    text-decoration: none
}

.x .c1-1w {
    display: inline
}

.x .c1-1x {
    cursor: pointer
}

.x .c1-1y:hover {
    color: rgb(101, 129, 19)
}

.x .c1-1z {
    background-color: rgb(246, 246, 246)
}

.x .c1-22 {
    padding-top: 24px
}

.x .c1-23 {
    display: flex
}

.x .c1-24 {
    box-sizing: border-box
}

.x .c1-25 {
    flex-direction: row
}

.x .c1-26 {
    flex-wrap: nowrap
}

.x .c1-27 {
    margin-right: -12px
}

.x .c1-28 {
    margin-left: -12px
}

.x .c1-29 {
    align-items: center
}

.x .c1-2f {
    flex-grow: 0
}

.x .c1-2g {
    flex-shrink: 1
}

.x .c1-2h {
    flex-basis: 15%
}

.x .c1-2i {
    padding-top: 0
}

.x .c1-2j {
    padding-right: 12px
}

.x .c1-2k {
    padding-bottom: 0
}

.x .c1-2l {
    padding-left: 12px
}

.x .c1-2q {
    color: rgb(27, 27, 27)
}

.x .c1-2r {
    justify-content: flex-start
}

.x .c1-2s {
    margin-left: 0
}

.x .c1-2t {
    display: inline-block
}

.x .c1-2u {
    vertical-align: top
}

.x .c1-2v {
    flex-wrap: wrap
}

.x .c1-30 {
    flex-grow: 2
}

.x .c1-31 {
    flex-basis: 0%
}

.x .c1-32 {
    justify-content: center
}

.x .c1-33 {
    flex-grow: 1
}

.x .c1-34 {
    max-width: none
}

.x .c1-35 {
    line-height: 24px
}

.x .c1-36 {
    margin-right: 0
}

.x .c1-37 {
    -webkit-margin-before: 0
}

.x .c1-38 {
    -webkit-margin-after: 0
}

.x .c1-39 {
    -webkit-padding-start: 0
}

.x .c1-3a {
    padding-right: 0
}

.x .c1-3b {
    padding-left: 0
}

.x .c1-3c {
    margin-bottom: none
}

.x .c1-3d {
    list-style: none
}

.x .c1-3e {
    padding-left: 32px
}

.x .c1-3f {
    white-space: nowrap
}

.x .c1-3g {
    visibility: hidden
}

.x .c1-3h:first-child {
    margin-left: 0
}

.x .c1-3i:first-child {
    padding-left: 0
}

.x .c1-3j {
    letter-spacing: 2px
}

.x .c1-3k {
    text-transform: uppercase
}

.x .c1-3l {
    font-size: 14px
}

.x .c1-3o {
    margin-left: -6px
}

.x .c1-3p {
    margin-right: -6px
}

.x .c1-3q {
    margin-top: -6px
}

.x .c1-3r {
    margin-bottom: -6px
}

.x .c1-3s {
    padding-left: 6px
}

.x .c1-3t {
    padding-right: 6px
}

.x .c1-3u {
    padding-top: 6px
}

.x .c1-3v {
    padding-bottom: 6px
}

.x .c1-3w {
    transition: transform .33s ease-in-out
}

.x .c1-3x {
    transform: rotate(0deg)
}

.x .c1-3y {
    border-radius: 4px
}

.x .c1-3z {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.24)
}

.x .c1-40 {
    padding-left: 16px
}

.x .c1-41 {
    padding-right: 16px
}

.x .c1-42 {
    position: absolute
}

.x .c1-43 {
    right: 0px
}

.x .c1-44 {
    top: 32px
}

.x .c1-45 {
    max-height: 45vh
}

.x .c1-46 {
    overflow-y: auto
}

.x .c1-47 {
    z-index: 3
}

.x .c1-4a {
    text-align: left
}

.x .c1-4b:last-child {
    margin-bottom: 0
}

.x .c1-4c {
    margin-top: 8px
}

.x .c1-4d {
    margin-bottom: 8px
}

.x .c1-4e {
    background-color: rgba(22, 22, 22, 0.9)
}

.x .c1-4f {
    position: fixed
}

.x .c1-4g {
    left: 0px
}

.x .c1-4h {
    top: 0px
}

.x .c1-4i {
    height: 100%
}

.x .c1-4j {
    max-width: 0px
}

.x .c1-4k {
    z-index: 10002
}

.x .c1-4l {
    padding-top: 56px
}

.x .c1-4m {
    -webkit-overflow-scrolling: touch
}

.x .c1-4n {
    transition: max-width .3s ease-in-out
}

.x .c1-4o {
    overflow: hidden
}

.x .c1-4p {
    flex-direction: column
}

.x .c1-4q {
    color: rgb(247, 247, 247)
}

.x .c1-4r {
    line-height: 1.3em
}

.x .c1-4s {
    font-style: normal
}

.x .c1-4t {
    top: 15px
}

.x .c1-4u {
    right: 15px
}

.x .c1-4v {
    font-size: 24px
}

.x .c1-4w:hover {
    color: rgb(121, 154, 25)
}

.x .c1-4z {
    overflow-x: hidden
}

.x .c1-50 {
    color: rgb(164, 164, 164)
}

.x .c1-51 {
    border-color: rgba(76, 76, 76, 0.5)
}

.x .c1-52 {
    border-bottom-width: 1px
}

.x .c1-53 {
    border-bottom-style: solid
}

.x .c1-54:last-child {
    border-bottom: 0
}

.x .c1-55 {
    font-size: 20px
}

.x .c1-56 {
    font-weight: 700
}

.x .c1-57 {
    min-width: 200px
}

.x .c1-58 {
    justify-content: space-between
}

.x .c1-5c {
    margin-top: 24px
}

.x .c1-5d {
    margin-bottom: 24px
}

.x .c1-5h {
    letter-spacing: 1px
}

.x .c1-5i {
    font-family: 'Cabin', arial, sans-serif
}

.x .c1-5j {
    color: rgb(101, 129, 19)
}

.x .c1-5k {
    line-height: 1.2
}

.x .c1-5l {
    font-size: 28px
}

.x .c1-5m {
    color: rgb(89, 89, 89)
}

.x .c1-5p {
    height: auto
}

.x .c1-5q {
    max-height: 500px
}

.x .c1-5r {
    width: auto
}

.x .c1-5s {
    vertical-align: middle
}

.x .c1-5w {
    line-height: 1.25
}

.x .c1-5x > p {
    margin-top: 0
}

.x .c1-5y > p {
    margin-right: 0
}

.x .c1-5z > p {
    margin-bottom: 0
}

.x .c1-60 > p {
    margin-left: 0
}

.x .c1-61 {
    font-size: unset
}

.x .c1-62 {
    font-style: italic
}

.x .c1-63 {
    text-decoration: line-through
}

.x .c1-64 {
    text-decoration: underline
}

.x .c1-65 {
    letter-spacing: unset
}

.x .c1-66 {
    text-transform: unset
}

.x .c1-67 {
    letter-spacing: .1em
}

.x .c1-68 {
    color: rgb(255, 255, 255)
}

.x .c1-69 {
    padding-right: 32px
}

.x .c1-6a {
    background-color: #39C6F4;
}

.x .c1-6b {
    border-style: none
}

.x .c1-6c {
    border-radius: 0
}

.x .c1-6d {
    transition-property: background-color
}

.x .c1-6e {
    transition-duration: .3s
}

.x .c1-6f {
    transition-timing-function: ease-in-out
}

.x .c1-6g:hover {
    background-color: #3BAFDA;
}

.x .c1-6h:focus {
    outline: none
}

.x .c1-6i:active {
    background-color: rgb(99, 127, 19)
}

.x .c1-6o {
    padding-top: 32px
}

.x .c1-6p {
    padding-bottom: 32px
}

.x .c1-6q {
    padding-bottom: 24px
}

.x .c1-6r {
    border-color: #999
}

.x .c1-6s {
    border-bottom-width: 1px
}

.x .c1-6t {
    border-style: solid
}

.x .c1-6u {
    flex-grow: 3
}

.x .c1-6v {
    flex-basis: 100%
}

.x .c1-71 {
    letter-spacing: inherit
}
