<section class="content">
  <div class="container">
    <div class="row">
      <div class="home-content about-content">
        <div class="col-md-8">
          <h3>ABOUT US</h3>
          <p>
            UNIVERSAL MEDICAL RECORD<sup>&reg;</sup>
            <br />
            2 Old Wagon Ln,
            <br />
            Old Westbury, NEW YORK<span>&nbsp;&nbsp;</span>11568<br />
            Tel: (914) 737-7499&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
            Fax: (914) 737-2120
          </p>
          <p>
            Copyright&nbsp;&copy;&nbsp;1992-{{toCopyright}}
            Universal Medical Record<sup>&reg;</sup>&nbsp;All rights reserved.&nbsp;&nbsp;Patents Pending.&nbsp;&nbsp;Printed in the United States of America.&nbsp;&nbsp;No part of this publication may be reproduced in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the prior written permission of the company.<br />
            <br />
            Ver 121009
          </p>
        </div>
        <div class="col-md-4 bro-download">
          <p>If you want to know more about us then download the pdf file from the download button.</p>
          <a href="assets/pdf/about.pdf" target="_blank" class="btn btn-default btn-download">Download</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h3 class="our-team">OUR TEAM</h3>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="team section-padding">
    <div class="container">
      <div class="row">
        <div class="app-dev owl-carousel owl-theme">
          <!--CEO-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/CEO.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/CHIEF-EXECUTIVE-OFFICER.pdf" target="_blank" class="btn btn btn-default">Curriculum Vitae</a> </p>
                <!--<div class="social icon">
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>-->
              </div>
            </div>
            <div class="title">
              <h4>Steven Charles Cohn, M.D.</h4>
              <h5>CEO</h5>
            </div>
          </div>

          <!--CMO-->
          <div class="info">
            <div class="member">
              <img src="assets/images/CMO.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/CHIEF-MEDICAL-OFFICER.pdf" target="_blank" class="btn btn btn-default">Curriculum Vitae</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Wayne O. Wells, M.D.</h4>
              <h5>Chief Medical Officer</h5>
            </div>
          </div>

          <!--CTO-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/CTO.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/Reza-Raquib.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Reza Bin Raqiub</h4>
              <h5>Chief Technology Officer</h5>
            </div>
          </div>

          <!--CBO-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/CBO.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/Peter-Gordon.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Peter Gordon</h4>
              <h5>Chief Business Officer</h5>
            </div>
          </div>

          <!--CBO-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/Jared.JPEG" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/Jared D. Cohn.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Jared D. Cohn D.O.</h4>
              <h5>Vice President of Medical Affairs</h5>
            </div>
          </div>
          <!--Sarina Cohn-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/SarinaCohn.jpeg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/SarinaCohn.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Sarina Cohn</h4>
              <h5>Vice President of Educational Affairs</h5>
            </div>
          </div>

          <!--BD-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/member.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/Frank-J.-Maddalena.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Frank J. Maddalena</h4>
              <h5>Business Development</h5>
            </div>
          </div>

          <!--BA-->
          <div class="info">
            <div class="member item">
              <img src="assets/images/member.jpg" alt="">
              <div class="details">
                <p class="text-center"><a href="assets/pdf/Sheena-H.-Sloan.pdf" target="_blank" class="btn btn btn-default">View Resume</a> </p>
              </div>
            </div>
            <div class="title">
              <h4>Sheena H. Sloan</h4>
              <h5>Business Analyst</h5>
            </div>
          </div>

        </div>
      </div>

    </div> <!-- end .container -->
  </div> <!-- end .team -->
</section>
<!-- ====== Team Section ====== -->
