/* lg */ 
@media (min-width: 1200px) {
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
        padding: 15px 8px;
    }
    .subscription .col-md-5 {
        margin-top: 15px;
        text-align: left;
    }
    .contact-form .col-md-4, .contact-form .col-md-12{
        padding-left: 0px;
        padding-bottom: 10px
    }
}

/* xs */
@media (max-width: 767px) {
	
    .subscription .col-md-5 {
        margin-top: 15px;
        text-align: left;
    }
    .contact-form .col-md-4, .contact-form .col-md-12{
        padding-left: 0px;
        padding-bottom: 10px
    }
    .contact-form .col-md-4:first-child, .contact-form .col-md-12 {
       padding-left: 0px;
    }
    .form-client .form {
        padding: 15px;
    }
    .job-open .col-md-2 {
        float:left !important;
    }
    .btn-job {
        margin-top: 15px;
    }

}

/* XS Portrait */
@media (max-width: 479px) {

    .subscription .col-md-5 {
        margin-top: 15px;
        text-align: left;
    }
    .contact-form .col-md-4, .contact-form .col-md-12{
        padding-left: 0px;
        padding-bottom: 10px
    }
    .contact-form .col-md-4:first-child, .contact-form .col-md-12 {
       padding-left: 0px;
    }
    .form-client .form {
        padding: 15px;
    }
    .job-open .col-md-2 {
        float:left !important;
    }
    .btn-job {
        margin-top: 15px;
    }

}


@media (max-width: 320px) {
   
   .subscription .col-md-5 {
        margin-top: 15px;
        text-align: left;
    }
    .contact-form .col-md-4, .contact-form .col-md-12{
        padding-left: 0px;
        padding-bottom: 10px
    }
    .contact-form .col-md-4:first-child, .contact-form .col-md-12 {
       padding-left: 0;
    }
    .form-client .form {
        padding: 15px;
    }
    .job-open .col-md-2 {
        float:left !important;
    }
    .btn-job {
        margin-top: 15px;
    }
}
